<div class="agents" ng-controller="AgentsController">
  <h3>Agents</h3>
  <div class="agent" ng-repeat="agent in agents">
    <h5>ID: {{agent.$id}}</h5>
    <!-- tickets -->
    <table class="u-full-width" ng-show="agent.tickets">
      <thead>
        <tr>
          <th class="ticket-id">Ticket</th>
          <th class="ticket-action">Action</th>
          <th class="ticket-date">When</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ticket in agent.tickets">
          <!-- makes a row for each ticket -->
          <td class="ticket-id">
            <a href="https://{{subdomain}}.zendesk.com/agent/tickets/{{ticket.id}}" target="_top">#{{ticket.id}}</a>
          </td>
          <td class="ticket-action">
            {{ticket.action}}
          </td>
          <td class="ticket-date">
            <span am-time-ago="ticket.date">{{ticket.date}}</span>
          </td>
        </tr>

      </tbody>
    </table>
    <!-- users -->
    <table class="u-full-width" ng-show="agent.users">
      <thead>
        <tr>
          <th class="user-id">User</th>
          <th class="user-action">Action</th>
          <th class="user-date">When</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in agent.users">
          <!-- makes a row for each user -->
          <td class="user-id">
            <a href="https://{{subdomain}}.zendesk.com/agent/users/{{user.id}}" target="_top">#{{user.id}}</a>
          </td>
          <td class="user-action">
            {{user.action}}
          </td>
          <td class="user-date">
            <span am-time-ago="user.date">{{user.date}}</span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>


</div>